<h2>Editing Focus Item</h2>

<%= render 'form', fs_focus_item: @fs_focus_item %>
<br>
<%= link_to 'Show', @fs_focus_item, class: "btn btn-primary" %>
<%= link_to 'Back', fs_focus_items_path, class: "btn btn-primary" %>
